.artist {
  padding: 2rem 0 0 0;
  span {
    font-size: 1.2rem;
    display: block;
    letter-spacing: 0.06em;
    margin-bottom: 0.1rem;
  }
  em {
    font-size: 1.5rem;
    font-weight: 500;
    display: block;
    letter-spacing: 0.06em;
  }
}
