.carousel__item {
  opacity: 0;
  &.hover {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    .carousel__item__info {
      transform: translateY(0%);
    }
  }
  &.active {
    opacity: 0;
  }
  &__info {
    display: flex;
    align-items: center;
    width: 500px;
    transform: translateY(10%);
    transition: transform 0.5s ease-in-out;
    img {
      width: 11%;
      margin-right: 2%;
    }
    p {
      font-size: 90%;
      line-height: 1.5;

      em {
        transform: translateY(20%);
        display: block;
        letter-spacing: 0.05em;
      }

      span {
        font-weight: 700;
        font-size: 130%;
        display: block;
        letter-spacing: 0.05em;
      }
    }
  }
}
