.page-art {
  position: relative;
  z-index: 9;
  //opacity: 0;
}
//head
.artHead {
  padding: 15.5rem 0 4rem;
  position: relative;
  z-index: 8;
  @include sp {
    padding: 10rem 0 2.5rem;
  }
  opacity: 0;
  &__flag {
    width: 9.1rem;
    margin: 0 auto;
    opacity: 0;
    @include sp {
      width: 8rem;
      margin: 0 auto;
    }
  }
  &__country {
    font-size: 1.3rem;
    letter-spacing: 0.04em;
    text-align: center;
    font-weight: 500;
    margin: 1.1rem 0 4rem;
    opacity: 0;
    @include sp {
      font-size: 1.2rem;
      margin: 0.8rem 0 1.5rem;
    }
    // first letter
    &:first-letter {
      text-transform: uppercase;
    }
  }
  &__artist {
    font-size: 9.6rem;
    text-align: center;
    overflow: hidden;
    line-height: 1.3;
    @include sp {
      font-size: 3rem;
    }
    span {
      display: inline-block;
      font-weight: 600;
      transform: translateY(100%);
    }
  }
}
// main pircture
.artMain {
  height: 52.6rem;
  width: 100%;
  position: relative;
  @include sp {
    height: 40rem;
  }
  &__frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100 * var(--vh));
    @include sp {
      height: 100lvh;
    }
    &__mask {
      content: '';
      position: absolute;
      background-color: white;
      height: 100%;
      &.right,
      &.left {
        width: 4.2rem;
        bottom: 0;
        z-index: 1;
        @include sp {
          width: 1.5rem;
          bottom: 0;
        }
      }
      &.right {
        right: 0;
        transform: translate3d(100%, 0, 0);
      }
      &.left {
        left: 0;
        transform: translate3d(-100%, 0, 0);
      }
      &.top {
        bottom: 100%;
        width: 100%;
        transform: translate3d(0, -100%, 0);
      }
    }
  }
}
// details
.artDetails {
  padding: 5rem 0 14.7rem;
  @include sp {
    padding: 2.5rem 0 5rem;
  }
  &__title {
    font-size: 6.1rem;
    font-weight: 600;
    @include sp {
      font-size: 3rem;
    }
  }
  &__description {
    margin: 4.5rem 0 6.1rem;
    @include sp {
      margin: 2rem 0 3.5rem;
    }
    &__title {
      font-size: 1.45rem;
      font-weight: 500;
      letter-spacing: 0.04em;
      @include sp {
        font-size: 1.4rem;
      }
    }
    &__text {
      font-size: 1.7rem;
      line-height: 2.1;
      margin: 1.8rem 0 0;
      @include sp {
        font-size: 1.4rem;
        line-height: 1.5;
        margin: 1.2rem 0 0;
      }
    }
  }
}
//profile
.artDetails__profile {
  margin: 14.4rem 0 0;
  @include sp {
    margin: 7rem 0 0;
  }
  &__card {
    width: 32rem;
    margin-top: 0.7rem;
    @include sp {
      width: 100%;
    }
  }
}
// country
.artDetails__country {
  margin: 10.5rem 0 0;
  @include sp {
    margin: 5rem 0 0;
  }
  &__map {
    width: 38.1rem;
    @include sp {
      width: 80%;
      margin: auto;
    }
  }
  &__title {
    span {
      font-size: 1.45rem;
      font-weight: 500;
      letter-spacing: 0.04em;
      display: block;
      @include sp {
        font-size: 1.4rem;
      }
    }
    em {
      font-size: 2.5rem;
      display: block;
      margin: 3.5rem 0 3rem;
      font-weight: 500;
      @include sp {
        font-size: 1.8rem;
        margin: 2rem 0 2rem;
      }
    }
  }
}

.noCarousel {
  .artMain {
    height: auto;
  }
  .artMain__frame__mask,
  .artHead__artist span {
    transform: none !important;
  }
  .fadeIn,
  .artHead {
    opacity: 1 !important;
  }
}
