.artList {
  &__container {
    padding: 4rem 0 20rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3.6rem;
    row-gap: 3.3rem;
    @include sp {
      padding: 2rem 0 10rem;
      grid-template-columns: 1fr;
      column-gap: 2rem;
      row-gap: 4rem;
    }
  }
  &__item {
    transition: opacity 0.3s;
    @include pc {
      &:hover {
        opacity: 0.6;
      }
    }
  }
  &__item__picture {
    height: 21.9rem;
    @include sp {
      height: 24.7rem;
    }
  }
  &__item__info {
    display: flex;
    justify-content: space-between;
    &__left {
      display: flex;
      // align-items: center;
      &__flag {
        margin: 2.3rem 0 0 0;
        width: 3.8rem;
        height: 3.8rem;
        overflow: hidden;
        border-radius: 50%;
        margin-right: 1.4rem;
      }
    }
  }
}
